<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Digital Training'" [items]="['Home']" [active_item]="'Webpage'">
            </app-breadcrumb>
        </div>


        <!-- DIGITALLEARNING/your-component-name.component.html -->

<div>
    <p>This is the DIGITALLEARNING component.</p>
    <a href="http://52.15.152.26:8998/" target="_blank">Visit the DIGITALLEARNING website</a>
  </div>


        <div class="row mb-4">

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-4">
                <mat-card>

                </mat-card>
            </div>

        </div>

    </div>
</section>